<%- include("Partials/header") -%>
<h1>User Info</h1>

<% posts.forEach(post => { %>
  <div>
    <p>Name: <%= post.name %></p>
    <p>Email: <%= post.mail %></p>
    <p>Phone Number: <%= post.phoneNumber %></p>
    <p>insta: <%= post.instaID %></p>
    <p>Password: <%= post.password %></p>
    <form method="POST" action="/admin/delete/<%= post._id %>">
      <label for="password">Admin password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Delete</button>
    </form>
  </div>
<% }) %>

<%- include("Partials/footer") -%>

