<%- include("Partials/header") -%>
<h1><%= name %></h1>



<style>

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #333;
}



.card-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
}

.card {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (min-width: 100px) {
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 450px;
    transform: translate(-50%, -50%);
  }
}


.card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: .5s;
}

.card:hover img {
  opacity: 0.4;
  transition: .5s;
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all .9s;
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin: 0 6px;
  transition: .4s;
  transform: translateY(200px);
  opacity: 0;
}

.card:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: .2s;
}

.social-icons li a .fab {
  transition: .8s;
}

.social-icons li a .fab:hover {
  transform: rotateY(360deg);
  color: #fff;
}

.card:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}

.card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}

.card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}

.card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

.social-icons li a .fab {
  color: #333;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;
}

.details h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

.details h2 .job-title {
  font-size: 1rem;
  line-height: 2.5rem;
  color: #333;
  font-weight: 300;
}

.jane {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 10px;
  transition: .4s;
}

.jane h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

.jane h2 .job-title {
  font-size: 1rem;
  line-height: 2.5rem;
  color: #333;
  font-weight: 300;
}


.profile-two .social-icons li a {
  border-radius: 50%;
}

.card:hover .profile-img--two {
  transform: rotateY(180deg);
}

.card:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}
 /* Set the container to 90% of the viewport width and center it */
 .container {
    width: 90%;
    margin: 0 auto;
  }
  
  /* Set the card width to 100% */
  .card {
    width: 100%;
  }
  
  /* Adjust the layout for small screens */
  @media only screen and (max-width: 600px) {
    /* Set the container to 100% width */
    .container {
      width: 100%;
    }
    
    /* Reduce the card width and margin */
    .card {
      width: 90%;
      margin: 0 auto;
    }
  }
  .passwordone{
    color: #fff;
  }

</style>





<% if (matchFound) { %>
  <p class="match-found"> Yes! <%= matchFound %> likes you back! </p>

  <% if (matchingUser) { %>
    <h2>Here's your match:</h2>
    <ul>
      <li>Name: <%= matchingUser.name %></li>
      <li>Phone Number: <%= matchingUser.phoneNumber %></li>
      <li>Instagram: <%= matchingUser.instaID %></li>
      </ul>
  <% } %>
<% } else { %>
  <p class="waiting-message">⏳ Waiting is the crucial point. The right person is worth the wait. ⌛</p>
<% } %>








<%- include("Partials/footer") -%>

