<%- include("Partials/header") -%>
<h1><%= name %></h1>

<% if (matchFound) { %>
  <p class="match-found"> Yes! <%= occupations %> likes you back! </p>

  <% if (matchingUser) { %>
    <h2>Here's your match:</h2>
    <ul>
      <li>Name: <%= matchingUser.name %></li>
      <li>Phone Number: <%= matchingUser.phoneNumber %></li>
      <li>Instagram: <%= matchingUser.instaID %></li>
    </ul>
  <% } %>
<% } else { %>
  <p class="waiting-message">⏳ Waiting is the crucial point. The right person is worth the wait. ⌛</p>
<% } %>

<%- include("Partials/footer") -%>


