<%- include("Partials/header") -%>
<h1><%= name %></h1>









<h1><%= matchFound %></h1>
<h1><%= matchingUser %></h1>
<h1><%= number %></h1>
<h1><%= insta %></h1>
<h1><%= _id %></h1>








<%- include("Partials/footer") -%>

